<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.belajarsholat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".aboutme"
            android:exported="true" />
        <activity
            android:name=".latihanquiz"
            android:exported="true" />
        <activity
            android:name=".Fitur_latihan.Periksa"
            android:exported="true" />
        <activity
            android:name=".Fitur_rekomendasi.Rekomendasi"
            android:exported="true" />
        <activity
            android:name=".Menu_utama.Profile"
            android:exported="true" />
        <activity
            android:name=".Tatacara_sholat.Cara_berwudhu"
            android:exported="true" />
        <activity
            android:name=".Latihan_quiz.FileCache"
            tools:ignore="Instantiatable,MissingClass" />
        <activity android:name=".Latihan_quiz.MainActivity" />
        <activity android:name=".Latihan_quiz.input_user" />
        <activity android:name=".Tatacara_sholat.Cara_sholatisya" />
        <activity android:name=".Tatacara_sholat.Cara_sholatmaghrib" />
        <activity android:name=".Tatacara_sholat.Cara_sholatashar" />
        <activity android:name=".Tatacara_sholat.Cara_sholatdzuhur" />
        <activity
            android:name=".splashscreen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login_register.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login_register.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Listsurat_pendek.Annaba" />
        <activity android:name=".Listsurat_pendek.Annaziat" />
        <activity android:name=".Listsurat_pendek.Abasaa" />
        <activity android:name=".Listsurat_pendek.Attakwir" />
        <activity android:name=".Listsurat_pendek.Alinfithar" />
        <activity android:name=".Listsurat_pendek.Almutaffifin" />
        <activity android:name=".Listsurat_pendek.Alinsyiqiq" />
        <activity android:name=".Listsurat_pendek.Alburuj" />
        <activity android:name=".Listsurat_pendek.Atthoriq" />
        <activity android:name=".Listsurat_pendek.Alalaa" />
        <activity android:name=".Listsurat_pendek.Alghasiyah" />
        <activity android:name=".Listsurat_pendek.Alfajr" />
        <activity android:name=".Listsurat_pendek.Albalad" />
        <activity android:name=".Listsurat_pendek.Assyams" />
        <activity android:name=".Listsurat_pendek.Allail" />
        <activity android:name=".Listsurat_pendek.Adduha" />
        <activity android:name=".Listsurat_pendek.Alinsyirah" />
        <activity android:name=".Listsurat_pendek.Attiin" />
        <activity android:name=".Listsurat_pendek.Alalaq" />
        <activity android:name=".Listsurat_pendek.Alqodr" />
        <activity android:name=".Listsurat_pendek.Albayyinah" />
        <activity android:name=".Listsurat_pendek.Alzalzalah" />
        <activity android:name=".Listsurat_pendek.Alaadiyat" />
        <activity android:name=".Listsurat_pendek.Alqoriah" />
        <activity android:name=".Listsurat_pendek.Attakasur" />
        <activity android:name=".Listsurat_pendek.Alasr" />
        <activity android:name=".Listsurat_pendek.Alhumazah" />
        <activity android:name=".Listsurat_pendek.Alfiil" />
        <activity android:name=".Listsurat_pendek.Quraisy" />
        <activity android:name=".Listsurat_pendek.Almaun" />
        <activity android:name=".Listsurat_pendek.Alkausar" />
        <activity android:name=".Listsurat_pendek.Alkafirun" />
        <activity android:name=".Listsurat_pendek.Annasr" />
        <activity android:name=".Listsurat_pendek.Allahab" />
        <activity android:name=".Listsurat_pendek.Alikhlas" />
        <activity android:name=".Listsurat_pendek.Alfalaq" />
        <activity android:name=".Listsurat_pendek.Annas" />
        <activity android:name=".Listsurat_pendek.Alfatihah" />
        <activity android:name=".Video_sholat.video_sholatisya" />
        <activity android:name=".Video_sholat.video_sholatmaghrib" />
        <activity android:name=".Video_sholat.video_sholatashar" />
        <activity android:name=".Video_sholat.video_sholatdzhuhur" />
        <activity android:name=".Video_sholat.Video_Wudhu" />
        <activity android:name=".Sholat_fardhu.sholatsubuh" />
        <activity android:name=".Tatacara_sholat.Cara_Sholatsubuh" />
        <activity android:name=".Listsurat_pendek.List_Surat_Pendek" />
        <activity android:name=".Video_sholat.video_sholatsubuh" />
        <activity android:name=".Sholat_fardhu.Sholat_Isya" />
        <activity android:name=".Sholat_fardhu.Sholat_Maghrib" />
        <activity android:name=".Sholat_fardhu.Sholat_Ashar" />
        <activity android:name=".Sholat_fardhu.Sholat_dzuhur" />
        <activity android:name=".Menu_utama.Menu_Sholat" />
        <activity android:name=".Fitur_latihan.Hasilquiz" />
        <activity android:name=".Fitur_latihan.Quiz" />
        <activity android:name=".Menu_utama.Berwudhu" />
        <activity
            android:name=".Menu_utama.MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>